/* ===== Reset ===== */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}

a,
button,
input,
textarea {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::placeholder,
textarea::placeholder {
    color: inherit;
    opacity: 0.7;
}

a {
    display: inline-block;
}

a:hover {
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    display: block;
    width: max-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input,
textarea {
    background-color: transparent;
    border: none;
    padding-block: 0;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* Fonts =======================================*/

@font-face {
    font-family: 'Casper';
    font-weight: 400;
    src:
        url('../fonts/Casper.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/Casper.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Casper';
    font-weight: 700;
    src:
        url('../fonts/CasperBold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/CasperBold.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

@font-face {
    font-family: 'FoglihtenNo06';
    font-weight: 400;
    src:
        url('../fonts/FoglihtenNo06_076.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/FoglihtenNo06_076.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/FoglihtenNo06_076.otf') format('opentype'),
}

/* Root ======================================= */

:root {
    --section: clamp(70px, 10vw, 120px);
    --section-box: clamp(50px, 10vw, 100px);
    --white: #fff;
    --header: #2F405C;
    --accent: #FF9533;
    --black: #30343C;
    --blue: #256AB5;
    --blue-slider: #4782A2;
    --red: #FF5C35;
    --btn-bg: linear-gradient(180deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0.00) 50%), #FF8D24;
    --btn-bg-h: linear-gradient(180deg, rgba(255, 255, 255, 0.21) 40%, rgba(255, 255, 255, 0.00) 100%), #FF8D24;
}




/* Global ====================================== */
body {
    font-family: 'Casper', sans-serif;
    font-size: 20px;
    font-weight: 400;
    overflow-x: hidden;
    color: var(--black);
}

h1,
h2 {
    font-family: 'FoglihtenNo06';

}

h1 {
    font-size: clamp(45px, 4vw, 75px);
    font-weight: 400;
}

h2 {
    font-size: clamp(35px, 3.8vw, 65px);
    text-transform: uppercase;
}

h3 {
    font-family: 'Casper';
    font-size: clamp(24px, 2vw, 34px);
    font-weight: 400;
}

h4 {
    font-size: clamp(20px, 1.8vw, 24px);
    font-weight: 700;
}

p {
    font-size: clamp(16px, 1.2vw, 20px);
}
.footer__address a{
    font-size: clamp(16px, 1.2vw, 20px);
}
.subtext{
    font-size: clamp(14px, 1vw, 18px);
    font-style: italic;
    opacity: 0.6;
}
.container {
    max-width: 1700px;
    padding: 0 10px;
    margin: 0 auto;
}
.container-single{
    max-width: 860px;
    padding: 0 10px;
    margin: 0 auto;
}
.main-btn {
    font-family: 'Casper', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 26px 58px;
    background: var(--btn-bg);
    color: var(--white);
    display: inline-flex;
    justify-content: center;
}

.main-btn:hover {
    background: var(--btn-bg-h);
    color: var(--white);
}


.slider-btns {
    display: flex;
    gap: 20px;
}

.slider-btns div {
    cursor: pointer;
}

.half {
    max-width: 50%;
}

input[type=submit] {
    display: inline-block;
}

.quote {
    font-weight: 700;
    font-size: clamp(18px, 1.2vw, 20px);
    padding-left: 45px;
    border-left: 5px solid var(--accent);
}
.hidden {
    display: none;
}


.swiper-slider{
    overflow: hidden;
}
.swiper-pagination{
    bottom: auto !important;

}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
.swiper-pagination-bullet-active{
    background-color: var(--accent);
}
/* Header ==========================================*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 17px 0;
    font-family: 'Casper', sans-serif;
    font-size: 16px;
}

body.page .header {
    position: relative;
    background-color: var(--header);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header__nav ul {
    display: flex;
    gap: clamp(35px, 4.6vw, 78px);
}

.header__logo a img {
    max-height: 63px !important;
    width: auto;
    object-fit: contain;
}
.header__menu--btn{
    cursor: pointer;
    display: none;
    align-items: center;
    gap: 10px;
}
.header__menu--btn p{
    margin: 0;
}
@media (max-width:976px) {
    .header__menu--btn{
        display: flex;
    }
    .header__nav ul,
    .header__address,
    .header__phone
    {
        display: none;
    }
}
/* Main ==========================================*/
.main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 190px 0 105px;
}

.main__wrapper {
    position: relative;
    display: flex;
}

.main__content {
    width: 65%;
}

.main p {
    line-height: 28px;
    max-width: 652px;
    margin: 26px 0 54px;
}

.main__count {
    padding: clamp(25px, 2.8vw, 45px);
    background: rgba(47, 64, 92, 0.35);
    backdrop-filter: blur(35px);
    display:flex;
    justify-content: space-between;
    gap: 10px;
    width: max-content;
    margin-top: 87px;
    flex: 1 0;
}
.main__count p{
    margin: 0;
    max-width: 173px;
}

.main__count--item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main__count--title {
    font-family: 'FoglihtenNo06';
    font-size: clamp(55px, 4.8vw, 80px);
    font-style: normal;
    font-weight: 500;
    line-height: 109.71%;
    color: var(--accent);
    text-wrap: nowrap;
}

.main__count--text {
    max-width: 175px;
}

.main__video {
    gap: 22px;
    display: block;
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    margin: auto 0;
    text-wrap: nowrap;
}
.main__video img{
    height: clamp(87px, 7.8vw, 135px);
}
.main__video p {
    margin: 0;
    max-width: 200px;
}
@media (max-width:898px) {
    .main__count {
        flex-direction: column;
        align-items: end;
    }
}
@media (max-width:720px) {
    .main__wrapper{
        display: block;
    }
    .main__video{
        position: absolute;
        bottom: 320px;
    }
    .main__count{
        margin-top: 170px;
    }
    .main__content{
        width: 100%;
    }

}
@media (max-width:540px) {
    .main{
        padding: 100px 0 25px;
    }
    .main-btn{
        width: 100%;
    }
}
/* Welcome ====================================*/

.welcome {
    position: relative;
    padding: var(--section) 0 var(--section);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: rgba(132, 132, 132, 0.05);
}

.welcome p {
    margin: 39px 0 69px;
    max-width: 80%;
}

.welcome__bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width:767px) {
    .welcome__bg{
        display: none;
    }
}
/* How ====================================*/

.how {
    padding-top: var(--section);
}

.how h2 {
    margin-bottom: 63px;
}

.how ul li {
    margin-bottom: 33px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.how__num {
    padding: 15px;
    box-shadow: 0px 14px 65.3px -13px rgba(0, 0, 0, 0.10);
    height: 100%;
}

.how__num--item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;

}

.how__num--count {
    color: var(--blue);
    font-family: 'FoglihtenNo06';
    font-size: 65px;
    font-style: normal;
    font-weight: 500;
    line-height: 109.71%;
    text-transform: uppercase;
}

.how__num--text {
    max-width: 220px;
}
.how .main-btn{
    margin-top: 50px;
    width: 325px;
}

@media (max-width:540px) {

    .how .main-btn{
        width: 100%;
    }
}
/* Reason ==================================*/

.reason {
    padding-top: var(--section);
    padding-bottom: var(--section);
}

.reason p:nth-child(1) {
    max-width: 633px;
}

.reason__wrapper {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

.reason__item {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 50px 30px 30px;
    height: 100%;
}
h2
.reason__item img {
    margin-bottom: 30px;
}

.reason__item--title {
    margin-bottom: 9px;
    font-size: clamp(20px, 1.8vw, 24px);
    font-style: normal;
    font-weight: 400;
}
@media (max-width:576px) {

    .reason h2{
        margin-bottom: 20px;
    }
}
/* Growth ==================================*/
.growth {
    color: var(--white);
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.growth__box {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: var(--section-box) 0;
}

.growth h2 {
    max-width: 890px;
    margin-bottom: 60px;    
}

.growth__item {
    padding: 35px 45px 63px;
    background-color: rgba(67, 64, 92, 0.35);
    height: 100%;
}

.growth__item--title {
    color: var(--accent);
    font-size: 24px;
    margin-bottom: 9px;
}

/* Solution =================================*/

.solution {
    padding: var(--section) 0;
    background-color: rgba(132, 132, 132, 0.05);
}

.solution p {
    font-size: 24px;
    margin-top: 22px;
}

.solution__item {
    background-color: var(--white);
    padding: 15px;
    box-shadow: 0px 14px 65.3px -13px rgba(0, 0, 0, 0.10);
    height: 100%;
}

.solution__item--box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 38px 25px 40px 40px;
    height: 100%;

}

.solutin__item--title {
    font-family: 'FoglihtenNo06';
    font-size: 40px;
    color: var(--accent);
}

.solutin__item--title span {
    font-size: 80px;
}

.solutin__item--text {
    line-height: 21.5px;
}

/* Clients =================================*/

.clients {
    padding-top: var(--section);
}

.clients__title {
    display: flex;
    justify-content: space-between;
}


.clients__slider{
    width: 100%;
    padding: 0;
    height: clamp(71px, 13.6vw, 163px);
    margin-top: clamp(29px, 3.53vw, 60px);
}
.clients__slider--item{
    padding: clamp(15px, 1.53vw, 35px);
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .clients__slider--img{
    width: 100%;
    height: 100%; 
} */
.clients__slider--img img{
    width: 100%;
    height: 100%; 
    object-fit: contain;
}
.clients__pagination{
    display: none;
}
@media (max-width:767px) {
    .clients__pagination{
        margin-top: 20px;
        display: block;
    }
    .clients__btns{
        display: none;
    }
}
/* testimonial =========================================*/
/*  Слайдеры Отзывы =================================
    ================================*/
.testimonial {
    padding-top: var(--section);
}
.testimonial__title{
    margin-bottom: 60px;
   }
.testimonial__sliders{
    width: 100%;
    overflow: hidden;
}
.testimonial__sliders .swiper-slide{
    height: 100%;
    width: 300px;
}
.testimonial__slider--video {
    height: max-content;
}
.testimonial__item--img,
.testimonial__item--video{
    width: 100%;
    height: 309px;
}
.testimonial__item--video iframe{
    width: 100%;
    height: 100%;
}
.testimonial__item--img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial__item--text{
    padding: 15px 0;
    font-size: 24px;
    font-weight: 600;
}
.testimonial__item--box{
    background: #FFF;
    box-shadow: 0px 0px 35.3px -13px rgba(0, 0, 0, 0.10);
    padding: clamp(10px, 1.7vw, 35px);
}
.testimonial__item--box a{
    color: var(--accent);
    text-decoration: underline;
}
.testimonial__slider--text{
    margin-top: 80px;
    padding: 30px;
}
.testy-box__info{
    display: flex;
    align-items: center;
    margin-bottom: 17px;

}
.testy-box__info img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}
.testy-box__info span{
    display: inline-block;
    line-height: 16px;
    margin-top: 5px;
    font-size: clamp(14px, 1.2vw, 18px);
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
}
.testimonial__pagination,
.testimonial-text__pagination{
    display: none;
}
@media (max-width:997px) {
    .testimonial__slider--text{
        padding: 0;
    }
}
@media (max-width:767px) {
    .testimonial__pagination,
    .testimonial-text__pagination{
        display: block;
        margin: 20px 0;
    }
    .testimonial__btns{
        display: none;
    }
    .testimonial__sliders,
    .testimonial__sliders .swiper-slide
    {
        margin-bottom: 0;
    }
}
/* blog =========================================*/

.blog {
    padding-top: var(--section);
    padding-bottom: var(--section);
}
.blog__title{
    margin-bottom: 35px;
}
.blog__slider.swiper-slider{
    padding: 0;
    margin-top: 35px;
}
.blog .main-btn{
    margin-top: clamp(29px, 3.53vw, 80px);
}
.blog__pagination{
    display: none;
}
@media (max-width:767px) {
    .blog__pagination{
        display: block;
        margin: 20px 0;
    }
    .blog__btns{
        display: none;
    }
    .blog .main-btn{
        margin-top: 80px;
    }
}
/* feedback =========================================*/

.feedback {
    padding-top: var(--section);
    padding-bottom: var(--section);
    color: var(--white);
}

.feedback__wrapper {
    background-image: url(../img/bg-feedback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 20px;
    color: var(--white);
}

.feedback__inner {
    padding: clamp(35px, 3.8vw, 70px) clamp(35px, 3.8vw, 65px);
}

.feedback__title p {
    max-width: 506px;
    margin-top: 40px;
}

.feedback__form span,
.feedback__form input {
    display: inline-block;
    width: 100%;
}

.feedback__form input {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 50px;
}

.feedback__form span.half {
    width: 48%;
}

.feedback__form span:nth-child(2) {
    float: right;
}

.feedback__form span:nth-last-child(1) {
    display: inline-block;
    font-size: clamp(11px, 1vw, 16px);
    font-weight: 400;
    line-height: 20px;
    width: 50%;
}

.feedback__form form input[type=submit] {
    width: max-content;
    border-bottom: none;
    margin-right: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 26px;
    padding-top: 26px;
}

.feedback__form form p:nth-last-child(1) {
    display: flex;
    justify-content: start;
    align-items: center;
}
@media (max-width:1030px) {
    .feedback__form form p:nth-last-child(1){
        flex-direction: column;
    }
    .feedback__form form input[type=submit]{
        width: 100%;
    }
    .feedback__form span:nth-last-child(1) {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
    }
}
@media (max-width:920px) {
    .feedback__form span.half{
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width:768px) {
    .feedback{
        padding: 0;
    }
    .feedback .container{
        padding: 0;
        max-width: 100%;
    }
}

/* crumbs ========================= */

.crumbs__inner {
    color: #889598;
    font-size: 14px;
    padding: 15px 0;
    cursor: pointer;
}

/* About =================================================
   =====================================================*/
.about-main {
    margin-top: 35px;
    position: relative;
    z-index: 1;
}

.row.about-main__item {
    margin-top: 50px;
}

.row.about-main__item:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.about-main__quote {
    margin: 32px 0;
    max-width: 80%;
}

.about-main__img {
    width: 45%;

}

.about-main img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* about-slider =====================*/

.about-slider {
    position: relative;
    margin-top: -80px;
    background-color: var(--blue-slider);
    padding: 20px;
    color: var(--white);
}

.about-slider__wrapper {
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 100%;
    padding-bottom: 70px;
}

.about-slider__item {
    padding-top: 200px;
}

.about-slider__item h2 {
    text-transform: uppercase;
}

.about-slider__item h2 span {
    font-size: clamp(45px, 5vw, 100px);
    display: block;
}

.about-slider__persone {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* width: 30%; */
    height: 85%;
    z-index: 1;
}

.about-slider__job {
    position: relative;
    z-index: 2;
    font-size: 24px;
    margin-top: 20px;
}

.about-slider__info {
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.about-slider__info p {
    max-width: 30%;
    position: relative;
    z-index: 3;
}

.about-slider__title {
    position: relative;
    z-index: 3;
}

.about-slider__box {
    position: relative;
    display: inline-block;
    margin-top: 220px;
    z-index: 5;
}

.about-slider__box--item {
    padding: 35px 45px;
    background: rgba(47, 64, 92, 0.35);
    backdrop-filter: blur(43px);
}

.about-slider__box--item img {
    width: 40px;
    margin-bottom: 15px;
}

.about-slider__nav {
    position: absolute;
    z-index: 5;
    bottom: 45%;
    display: flex;
    width: 50%;
}

.about-slider__count {
    margin-left: 30%;
    flex: 1 1;
}
@media (max-width:1215px){
    .about-slider{
        margin-top: -4vw;
    }
}
@media (max-width:991px) {
    .row.about-main__item{
        flex-direction: column-reverse;
    }
    .row.about-main__item:nth-child(2n+1){
        flex-direction: column-reverse;
    }
    .about-main__img{
        width: 100%;
    }
    .row.about-main__item{
        margin-top: 0;
    }
    .about-slider{
        margin-top: 50px;
    }
    .about-slider__item{
        padding: 32px 0;
    }
    .about-slider__info{
        flex-direction: column;
        gap: 372px;
    }
    .about-slider__info p{
        max-width: 100%;
        padding-top: 60px;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }
    .about-slider__persone{
        top: 180px;
        width: auto;
        height: 375px;
    }
    .about-slider__box{
        margin-top: 20px;
    }
    .about-slider__inner{
        position: relative;
    }
    .about-slider__wrapper{
        padding-bottom: 0;
    }
    .about-slider__nav{
        justify-content: space-between;
        top: 574px;
        bottom: auto;
        width: 100%;
    }
    .about-slider__count{
        margin: 0;
        text-align: right;
    }
}

/* Services ===================================
    =========================================*/
.service-main {
    padding: 35px 0 90px;
}
.service-main h2{
    margin-bottom: 50px;
}

.service-work {
    padding: 90px 0 110px;
    color: var(--white);
}

.service-imp {
    background-color: #F9F9F9;
    padding: 90px 0;
}

.service-imp__item {
    padding: 25px;
    background: #FFF;
    box-shadow: 0px 14px 65.3px -13px rgba(0, 0, 0, 0.10);
}

.service-imp__count {
    color: var(--accent);
}

.service-imp__title {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(95, 95, 95, 0.4);
    margin-top: 5px;
    margin-bottom: 10px;
}

.service-imp__item ul li {
    position: relative;
    padding-left: 20px;
    margin-left: 15px;
}

.service-imp__item ul li::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--black);
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.services-garant {
    padding: 90px 0 0;
}

.services-garant h3 {
    margin-bottom: 47px;
}

.services-garant--img {
    width: 40px;
    margin-bottom: 30px;
}
.service-work__wrapper{
    position: relative;
    z-index: 3;
}
.service-work__wrapper::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    top: 10px;
    left: 34px;
    background-color: var(--white);
    opacity: 0.2;
    z-index: 5;
}
.service-work__item {
    display: flex;
    align-items: center;
    gap: 41px;
    margin-bottom: 90px;
}
.service-work__item h4{
    margin-bottom: 9px;
}
.service-work__item p{
    margin: 0;
}


.service-work__marker {
    position: relative;
    width: 46px;
    height: 46px;
    background: rgba(255, 141, 36, 0.10);
    backdrop-filter: blur(7px);
    z-index: 10;
}
.service-work__marker::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--accent);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.service-main h3,
.service-imp h3,
.service-work h3,
.services-garant__title
{
    position: sticky;
    top: 20px;
}

/* Блог =======================================
    ==========================================*/

/* blog =====================================*/

.blog-main h2 {
    margin-top: 35px;
}

.blog-main__search {
    margin-top: 50px;
    max-width: 550px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(95, 95, 95, 0.4);
}

.blog-main__search form {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.blog-main__search input {
    width: 100%;
}

.blog-main__search input[type="submit"] {
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blog-posts__wrapper {
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.blog-posts__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-posts__item--title {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 9px;
}

.blog-posts__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 70px;
}

.blog-posts__pagination p {
    cursor: pointer;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-posts__pagination p.no-current {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--accent);
}


/* Contacts ==========================
    =================================*/

.contact-main{
    padding: 35px 0 var(--section);
}
.contact-main h3{
    margin-bottom: 10px;
}
.contact-main form{
    margin-top: 30px;
}
.contact-main__row{
    margin-top: 50px;
}
.contact-main__col {
    height: 100%;
}
.contact-main__info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-main__item{
    padding: clamp(35px, 3.8vw, 65px) clamp(15px, 1.9vw, 35px);
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.contact-main .how__num--item{
    padding: 35px;
}
.contact-main .how__num--item p{
    margin-bottom: 0;
}
.contact-main .feedback__wrapper{
    padding: 20px;
    height: 100%;

}
.contact-main .feedback__inner{
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-main .feedback__wrapper h3{
    margin-bottom: 10px;
}
.contact-main .feedback__inner--title{
    margin-bottom: 27px;
}



/* Single =============================
    ==================================*/
.single{
    padding: 35px 0 var(--section);
}

.single h2{
text-align: center;
margin-bottom: 50px;
}
.single img{
    width: 100%;
    min-height: 200px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.single__content{
    margin-top: 45px;
}
.single__content h3{
    margin-bottom: 20px;
}
.single__content h4{
    margin-bottom: 10px;
}
.single__content--item{
    margin-bottom: 30px;
}
.single__content--date{
    padding-top: 35px;
    margin-top: 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.single-theme{
    background-color: #F9F9F9;
    padding: 90px 0;
}
.single-theme h3{
    margin-bottom: 30px;
}








/* footer ============================*/
.footer {
    background-image: url(../img/bg-footer.jpg);
    padding-top: 36px;
    color: var(--white);
}

.footer__main {
    padding: 36px 0 62px;

}

.footer__inner {
    flex: 1 0;
}

.footer__menu ul {
    columns: 2;
    column-gap: 7vw;
}

.footer_logo p {
    max-width: 280px;
    font-size: 16px;
    margin-top: 23px;
    opacity: 0.7;
}

.footer__social ul {
    display: flex;
    gap: 15px;
}

.footer__address {
    margin-left: 7vw;
}

.footer__address .main-btn {
    margin-top: 33px;
}

.footer__copy {
    padding: 26px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__copy p,
.footer__copy a {
    margin: 0;
    font-size: 16px;
    opacity: 0.7;
}

.footer__copy a {
    text-decoration: underline;
}
.footer__copy--inner{
    gap: 66px;
}
@media (max-width:1192px) {
    .footer__menu ul{
        columns: 1;
    }
}
@media (max-width:1020px) {
    .footer__menu ul{
        display: none;
    }
}
@media (max-width:840px) {
    .footer{
        position: relative;
        padding-top: 0;
    }
    .footer__inner{
        align-items: center;
    }
    .footer__main{
        flex-direction: column;
        gap: 110px;
    }
    .footer_logo p{
        position: absolute;
        max-width: 80%;
        top: 100px;
        width: 100%;
        text-align: center;
        right: 50%;
        transform: translateX(50%);
    }
    .footer__address{
        text-align: center;
        margin: 0;
    }
    .footer__address .main-btn{
        width: 100%;
    }
}

/* Player ===============
        ============*/

.play-placeholder{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.play-placeholder__play{
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    width: clamp(77px, 4.9vw, 83px);
    transition: all 0.3s ease-in-out;
}
.play-placeholder__play:hover{
    transform: scale(1.05) translate(-48%, -50%);
}


/* Modal ===============================*/

.modal-box{
    position: fixed;
    padding: clamp(60px, 4.9vw, 80px) clamp(20px, 3.9vw, 80px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 , 0, 0.8);
    z-index: 999;
    backdrop-filter: blur(5px);
}
.modal-box .modal__wrapper{
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    background-color: var(--white);
    padding: 50px;
    height: 100%;
    border-radius: 10px;
    overflow-y: auto;
}
@media (max-width:767px) {
    .modal-box .modal__wrapper{
        max-width: 100%;
        padding: 20px;
    }
}

.modal-box img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    margin-right: 30px;
}
.modal-box .testy-box__info{
    align-items: start;
}
.modal-box .modal__wrapper svg{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.modal-box .modal__wrapper .testy-box__info{
    margin-bottom: 50px;

}

.modal-video{
    padding: 3% ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 , 0, 0.8);
    z-index: 999;
    backdrop-filter: blur(5px);
}
.modal-video iframe{
    width: 100%;
    height: 100%;
}
.modal-video .close{
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 2%;
}
* {
    /* outline: 1px solid var(--black); */
}